.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    border-radius: 50%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #64b2c8;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #444;
} */
.bottom {
  display: flex;
  align-items: center;
}
.bottom img{
  width: 60px;
  height: 60px;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom {
  color: #9d9999;
}
.title img{
  width: 50px;
  height: 50px;
  float: left;
}

.title{
  display: flex;
  align-items: center;
  gap: 10px;
}
.mainImg{
  width: 200px;
  height: 150px;
}

.title img{
  width: 13px;
  height: 13px;
}

.title h5 {
  margin: 0;
  padding: 0;
}

.right p {
  margin: 0;
  padding: 0;
}